importFrom("methods",
           "as", "is")
importFrom("stats",
           "window")
importFrom("utils",
           "capture.output",
           "download.file",
           "read.csv",
           "setTxtProgressBar",
           "txtProgressBar")

importFrom("XML",
           "xmlParse",
           "xmlRoot",
           "xmlChildren",
           "xmlToDataFrame")

import("raster")
import("zoo")
import("sp")

export('getPoint',
       'getRaster',
       'getRasterDays',
       'getRasterDay',
       'getPointDays',
       'getPointRuns',
       'checkDays',
       'grepVar',
       'getMFOption',
       'setMFOption',
       'mfService',
       'mfExtent',
       'mfProj4')
