import(raster)
import(zoo)
import(sp)

importFrom(ncdf,
           open.ncdf,
           close.ncdf,
           att.get.ncdf)

importFrom(rjson,
           fromJSON)

export('getPoint', 'getRaster',
       'getRasterDays', 'getRasterDay',
       'getPointDays', 'getPointRuns',
       'checkDays', 'grepVar',
       'getMFOption', 'setMFOption',
       'mfService', 'mfExtent', 'mfProj4')
